
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand">Sistema Sinergia</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item pointer" *ngIf="estado != null">
        <a class="nav-link" (click)="pagina('pacientes')" >Pacientes </a>
      </li>
      <li class="nav-item pointer" *ngIf="estado != null">
        <a class="nav-link" (click)="cerrar_sesion()" >Cerrar sesión </a>
      </li>


    </ul>
  </div>
</nav>
<router-outlet></router-outlet>
